 *{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.empty{
  width: auto;
  height: 60px;
  /* border: 2px solid rgb(255, 255, 255); */
  background-image: linear-gradient(white,black);
}
#mySidenav a {
    position: absolute;
    left: -65px;
    transition: 0.3s;
    padding: 14px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  #mySidenav a:hover {
    left: 1px;
    box-shadow: 2.2px 3.3px blue;
  }
  
  #about {
    top: 20px;
    background-color: #555;
    border: 2px solid red;
  }
  
  #blog {
    top: 70px;
    background-color: #555;
    border: 2px solid red;
  }
  
  #projects {
    top: 130px;
    background-color: #555;
    border: 2px solid red;
  }
  
  #contact {
    top: 190px;
    background-color: #555;
    border: 2px solid red;
  }
  #con{
    top: 250px;
    background-color: #555;
    border: 2px solid red;
  }
#let{
  top: 300px;
  background-color: #555;
  border: 2px solid red;
}
#const{
  top: 350px;
  background-color: #555;
  border: 2px solid red;
}
#ta{
  top: 400px;
  background-color: #555;
  border: 2px solid red;
}
#ali{
  top: 450px;
  background-color: #555;
  border: 2px solid red;
}
.slide{
  display: block;
  margin-left: 7%;
  margin-right: 50%;
  width: 70%;
  display: inline-block;
}
.righte-news{
  width: 400px;
  height: 710px;
  margin-left: 75%;
  margin-right: 50%;
  margin-top: -650px;
  display: inline-block;
  border: 2px solid whitesmoke;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
}
#techno{
  width: 100px;
  background-image: linear-gradient(whitesmoke,black);
  margin: 1em 2em;
}